*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    background-image: image-set("imagens/mount-fuji-jc.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI';
}

main{
    width: 80%;
    background-color: white;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

section {
    padding-bottom: 15px;
    padding-top: 15px;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: rgb(102, 102,205);
}

h2 {
    font-size: 30px;
    text-align: center;
}

strong {
    font-family: papyrus;
}

header p {
    text-align: center;
    color: rgb(102, 102,205);
    font-size:medium;
}

.menu {
    display: inline;
}

.icon {
    width: 45px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 15px;
}

.item  {
    display: inline-block;
    text-align: left;
    width: 55%;
    padding-left: 20px;
}
  
.preco {
    display: inline-block;
    text-align: right;
    width: 45%;
    padding-right: 20px;
    font-weight: bold;
}

hr {
    background-color:rgb(102, 102,205);
    border-color: rgb(102, 102,205);
    opacity: 0.5;
}

footer p {
    text-align: left;
    font-size: medium;
    padding-left: 20px;
}

footer a:hover {
    color: aqua;
}

footer a {
    color:blueviolet;
    padding-left: 20px;
}
