* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: image-set("348fc9806e32bba0fb4c42e799ddf880.jpg");
    background-size: cover;
    background-position: center;
    color: rgb(37, 37, 82);
    font-family: 'Segoe UI';
    font-size: 14px;
}

h1, p {
    margin: 1em auto;
    text-align: center;
    width: 65vw;
}

form {
    margin: 0 auto;
    width: 65vw;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input, textarea, select {
    margin: 10px 0;
    width: 100%;
}

.inline{
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}


input[type="submit"]{
    display: block;
    width: 50%;
    margin: 0 auto;
    font-size: 1.0rem ;
}

fieldset {
    border: none;
    margin-bottom: 6px;
}

legend {
    font-size: 16px;
    text-align: center;
}